# Private key for deployment (without 0x prefix)
PRIVATE_KEY=ce785e1d3f790d1e8d67ea8e811741dbcb6f9d02c9dd0a232539b51d386beb03

# Public key
PUBLIC_KEY=0x30a6C9D1d70d41756673Cce044189577F0953a75

# User keys
USER_KEYS=783e264738a445372c60333b0f19f282

# Sepolia Network
SEPOLIA_URL=https://eth-sepolia.g.alchemy.com/v2/gxqgjNcTuhm4EoK_zMSn9hMtwpVLpAEZ
ETHERSCAN_API_KEY=your_etherscan_api_key

# COTI Network
COTI_RPC_URL=https://testnet-rpc.coti.io

# Hyperlane Mailbox Addresses
SEPOLIA_MAILBOX=0xfFAEF09B3cd11D9b20d1a19bECca54EEC2884766
COTI_MAILBOX=0x7FE7EA170cf08A25C2ff315814D96D93C311E692

# Network Domain IDs
SEPOLIA_DOMAIN=11155111
COTI_DOMAIN=7082400 