# Private key for deployment (without 0x prefix)
PRIVATE_KEY=

# Public key
PUBLIC_KEY=

# User keys
USER_KEYS=

# Sepolia Network
SEPOLIA_URL=
ETHERSCAN_API_KEY=your_etherscan_api_key

# COTI Network
COTI_RPC_URL=https://testnet-rpc.coti.io

# Hyperlane Mailbox Addresses
SEPOLIA_MAILBOX=0xfFAEF09B3cd11D9b20d1a19bECca54EEC2884766
COTI_MAILBOX=0x7FE7EA170cf08A25C2ff315814D96D93C311E692

# Network Domain IDs
SEPOLIA_DOMAIN=11155111
COTI_DOMAIN=7082400 
